:root {
    --primary-color: #3A4C94;
    --second-color: #160D60;
    --third-color: #ECECEC;
    --main-duration: 0.2s;
    --bg-image-gradient: linear-gradient(207deg, var(--primary-color) 0%, #1D264A 100%);
}

::-webkit-scrollbar-thumb {
    background-color: #160D60;
    border-radius: 0px;
}

::-webkit-scrollbar {
    width: 8px;
    background-color: transparent;
}



body {
    font-family: 'Cairo', sans-serif !important;
    margin: 0;
    padding: 0;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}



a {

    text-decoration: none !important;
    color: white !important;
}

/* start register page */
input:invalid+span::after {
    content: "✖";
    padding-left: 5px;
}

input:valid+span::after {
    content: "✓";
    padding-left: 5px;
}

.body-forms {
    background-color: var(--third-color);
}

.forms .row {
    overflow: hidden;
}

.forms {
    background-image: url(../images/background.png);
    background-size: 100% 100%;
    height: 500px;
}

.form-card {
    min-width: 375px;
}

.forms .form-body input,
.forms .form-body textarea {
    background-color: var(--third-color);
    /* border: 0; */
}



img.team-work {
    position: absolute;
    top: 100px;
}

.forms .form-body .input-box i,
.forms .form-body .input-box a,
.change-password form .input-box i,
.change-password form .input-box a {
    position: absolute;
    top: 49px;
    left: 15px;
    color: var(--primary-color);
}

.forms .form-body .input-box,
.change-password form .input-box {
    position: relative;
}

.forms .register-form .input-box i,
.forms .form-body .input-box a,
.change-password form .input-box i,
.change-password form .input-box a {
    left: 25px;

}

.forms .form-body .input-box a {
    top: 45px;
    color: var(--second-color);
}

.forms .form-body .log {
    background-image: linear-gradient(207deg, var(--primary-color) 0%, #1D264A 100%);
    border-radius: 8px;
    padding: 7px 0;
}

.img-container {
    width: 100px;
    height: 100px;
}

.avatar-circlye {
    border-radius: 50%;
    height: 100%;
    width: 100%;
}

.img-picker {
    height: 50px;
    width: 50px;
    border-radius: 50%;
    background-color: #170d60b9;
    position: absolute;
    bottom: 0;
}

.img-picker i {
    position: absolute;
    font-size: 18px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: rgba(255, 255, 255, 0.836);
}

.img-picker:hover {
    background-color: #170d6070;
    cursor: pointer;
}

.sidenav-divider {
    border-bottom: 1px solid #659694;
    margin-bottom: 0px !important;
}

.row {
    margin-left: 0 !important;
    margin-right: 0 !important;
}

.sidebar {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #f9f9f9;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.sidebar a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #333;
    display: block;
    transition: 0.3s;
}

.sidebar a:hover {
    color: #0d6efd;
}

.nav-toggler>i {
    background-color: #160D60;
    color: white;
    font-weight: bold;
    padding: 12px;
    border-radius: 10px;
}

#main-nav {
    transition: margin-left .5s;
    padding: 16px;
    box-shadow: 2px 2px 2px #dddcdc
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
    .sidebar {
        padding-top: 15px;
    }

    .sidebar a {
        font-size: 18px;
    }
}

#logout,
.login-button {
    outline: none;
    border: none;
    padding: 5px;
    width: 100%;
    text-decoration: none;
    font-weight: bold;
    font-size: 1.2em;
    background-color: #160D60;
    color: white;
    border-radius: 10px;
}

.login-button {
    text-align: center;
    width: 120px;
    padding: 7px;
}

.brand-logo {
    float: right
}

.myicon>i {
    /* background-color: #160D60; */
    color: #160D60
}

/*end of auth pages*/
/*start of profile page pages*/
.contact-txt-color-1 {
    color: #1D264A;
}

.contact-txt-color-2 {
    color: #3A4C94;
}

.edit-btn {
    background-image: var(--bg-image-gradient);
    color: white !important;
    font-weight: 500 !important;
    position: absolute;
    top: 29.5px;
    left: 0;
}

.icon-24 {
    font-size: 24px !important;
    color: #1D264A;
}

.img-dash {
    width: 100%;
    padding: 10px;
    /* dashed border */
    background-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' rx='20' ry='20' stroke='%2380808080' stroke-width='2' stroke-dasharray='18' stroke-dashoffset='0' stroke-linecap='butt'/%3e%3c/svg%3e");
    border-radius: 20px;
}

.img-dash:hover {
    cursor: pointer;
    background-color: #8080803d;
    background-image: none
}

input,
textarea {
    direction: rtl !important;
}

.edit-profile-btn {
    max-width: 420px;
    background-image: var(--bg-image-gradient);
    padding: 8px;
}

#editProfile label {
    font-weight: bold;
}

/*end of profile page pages*/
/*end of profile page pages*/


/* start of about us page */
.containerdiv {
    width: 100%;
    height: 90vh;
    background-image: url(../images/background.png);
    /* background-image: url('/public/images/background.png'); */
}

.about {
    text-align: right;
    width: 50%;
    border-radius: 30px;
    background-color: #ECECEC;
    margin-top: 0% !important;
    margin-bottom: 0 !important;
    padding: 10px !important;
}

.about h1 {
    color: #160D60;
    font-weight: bold;
}
.about div img {
    border-radius: 50%;
}

.call {
    color: #160D60;
}